.pastEdition:hover .popover {
    visibility: visible;
    opacity: 1;
}

.popover{
    visibility: hidden;
}

.hover-white:hover span {
    color: #dd0031;
}

div.about {
    background-image: url(./menu/about.svg);
}

.hover-white:hover div.about {
    background-image: url(./menu/about-red.svg);

}

div.speaker {
    background-image: url(./menu/speaker.svg);
}

.hover-white:hover div.speaker {
    background-image: url(./menu/speaker-red.svg);
}

div.sponsor {
    background-image: url(./menu/sponsor.svg);
}

.hover-white:hover div.sponsor {
    background-image: url(./menu/sponsor-red.svg);
}

div.workshop {
    background-image: url(./menu/workshop.svg);
}

.hover-white:hover   div.workshop {
    background-image: url(./menu/workshop-red.svg);
}

div.venue {
    background-image: url(./menu/venue.svg);
}

.hover-white:hover   div.venue {
    background-image: url(./menu/venue-red.svg);
}
.hover-ticket:hover img {
    rotate: 30deg;
    visibility: visible;
    transition: rotate 0.3s ease;
}