@tailwind base;
@tailwind components;
@tailwind utilities;


.red{
    color: #DD0031;
}
.bg-red-500{
    background-color: #DD0031;
}

.blue{
    color: #0086ff;
}
.bg-blue{
    background-color: #0086ff;
}