@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply font-roboto
}

analog-markdown,analog-markdown-route{
    @apply container flex flex-col items-center px-5 py-24 mx-auto overflow-hidden max-w-7xl md:flex-row lg:px-20
}

.analog-markdown,.analog-markdown-route img {
    max-width: 100%;
}

.analog-markdown,.analog-markdown-route p {
    text-align: left;
    margin: 40px 0;
    line-height: 2.5rem;
}

.analog-markdown,.analog-markdown-route h1{
    @apply mb-12 font-sans uppercase text-4xl font-bold tracking-tight text-black md:text-6xl 
}
.analog-markdown,.analog-markdown-route h2 {
    @apply mt-12 font-sans uppercase text-2xl font-bold tracking-tight text-black md:text-4xl
}

.analog-markdown,.analog-markdown-route p code {
    padding: 0 8px;
    background-color: black;
}

.analog-markdown,.analog-markdown-route blockquote {
    border-left: 4px solid var(--color-accent);
    padding-left: 16px;
    margin-left: 0;
}

.analog-markdown,.analog-markdown-route li {
    margin: 16px 0;
}


.tito-widget-button{
    @apply inline-flex items-center px-4 py-2 bg-green-600 hover:bg-red-ngrome text-slate-100 text-sm font-medium rounded-md active:bg-green-700 focus:outline-none focus:ring focus:ring-green-300;
}