@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply font-roboto;
}

analog-markdown,
analog-markdown-route {
  @apply container flex flex-col items-center px-5 py-12 mx-auto overflow-hidden max-w-7xl md:flex-row lg:px-20;
}

.analog-markdown,
.analog-markdown-route {
  img {
    max-width: 100%;
  }

  p {
    @apply m-4 text-left font-sans text-sm font-normal tracking-tight text-black md:text-lg;
  }

  li {
    @apply font-sans text-sm font-normal tracking-tight text-black md:text-lg;
  }

  h1 {
    @apply mb-12 font-sans uppercase text-2xl font-bold tracking-tight text-black md:text-3xl;
  }

  h2 {
    @apply mt-12 font-sans uppercase text-xl font-bold tracking-tight text-black md:text-2xl;
  }

  h3 {
    @apply mt-12 font-sans uppercase text-xl font-bold tracking-tight text-black md:text-xl;
  }

  h4 {
    @apply mt-6 font-sans text-lg font-bold tracking-tight text-black md:text-lg;
  }

  p code {
    padding: 0 8px;
    background-color: inherit;
  }

  blockquote {
    border-left: 4px solid var(--color-accent);
    padding-left: 16px;
    margin-left: 0;
  }

  li {
    @apply m-4 text-left font-sans text-sm font-normal tracking-tight text-black md:text-lg;
  }

  ol {
    list-style: auto;
  }

  ul {
    list-style: disc;
  }
}

.scale-1_1:hover {
  transition: scale 0.3s ease;
  scale: 1.1;
}

.tito-widget-button {
  @apply inline-flex items-center px-2 py-2 bg-green-600 hover:bg-red-ngrome text-slate-100 text-xs lg:text-sm font-medium rounded-md active:bg-green-700 focus:outline-none focus:ring focus:ring-green-300;
  transition: all 0.3s ease;
}

.tito-widget-button-large {
  @apply inline-flex items-center px-8 py-3 bg-green-600 hover:bg-red-ngrome text-slate-100 text-lg font-medium rounded-md active:bg-green-700 focus:outline-none focus:ring focus:ring-green-300;
  transition: all 0.3s ease;
}

.button-green {
  @apply inline-flex items-center px-5 py-2.5 text-sm bg-green-600 hover:bg-red-ngrome text-slate-100 font-medium rounded-md active:bg-green-700 focus:outline-none focus:ring focus:ring-green-300;
  transition: all 0.3s ease;
}

.tito-widget-button:active {
  scale: 1.1;
}

.tito-widget .tito-form-actions .tito-submit {
  @apply px-2 py-2 bg-green-600 hover:bg-red-ngrome text-slate-100 text-xs lg:text-sm font-medium rounded-md active:bg-green-700 focus:outline-none focus:ring focus:ring-green-300;
}
.tito-widget .tito-widget-form {
  @apply bg-white px-6 pt-10 pb-8 shadow-xl ring-1 sm:rounded-lg text-left text-slate-800;
}
